.input {
  border: none;
  display: inline-flex;
  width: 100%;
  border-radius: 12px;
  background: var(--inputs-color);
  padding: 18px;
}

input::placeholder {
  display: inline-flex;
  justify-content: center;
}

.form {
  width: 641px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 44px;
  border-radius: 10px;
  border: 1px solid var(--light-gray-color);
}

.fieldset {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.camper-booking-calling {
  margin-bottom: 24px;
}

.comment {
  height: 118px;
}

.send-button {
  margin-left: auto;
  margin-right: auto;
}
