.reviews-location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.camper-item-additional-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.review-location-info {
  align-items: center;
  justify-content: center;
}

.camper-name {
  margin-bottom: 8px;
}

.camper-price {
  margin-bottom: 28px;
}

.camper-image {
  border-radius: 10px;
  object-fit: cover;
  width: 292px;
  height: 312px;
}

.camper-images-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}

/* TODO: take out container to generic css */
.container {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 48px;
  padding-bottom: 80px;
}

.camper-description {
  color: var(--text-color);
  margin-bottom: 60px;
}

.camper-info-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 24px;
}

.camper-info-link-accent {
  position: relative;
}
.camper-info-link-accent::after {
  content: '';
  position: absolute;
  bottom: -26.5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--button-color);
}

.camper-info-divider {
  border: none;
  height: 1px;
  background-color: var(--light-gray-color);
  width: 100%;
  margin-bottom: 44px;
}
