.reviews-location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.camper-item-additional-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.review-location-info {
  align-items: center;
  justify-content: center;
}

.camper-name {
  margin-bottom: 8px;
}

.camper-price {
  margin-bottom: 28px;
}

.camper-image {
  border-radius: 10px;
  object-fit: cover;
}

.camper-images-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}

/* TODO: take out container to generic css */
.container {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 48px;
}

.camper-description {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 60px;
}
