.header-container {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 450px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--badges-color);
  background: var(--inputs-color);
}

.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navigation-list-item {
  text-align: center;
  font-weight: 500;
}

.navigation-list-item-accent {
  color: var(--button-hover-color);
}
