:root {
  /* Fonts */
  --primary-font: 'Inter', sans-serif;

  /* Colors */
  --main-color: #101828;
  --text-color: #475467;
  --white-color: #fff;
  --inputs-color: #f7f7f7;
  --badges-color: #f2f4f7;
  --gray-color: #6c717b;
  --light-gray-color: #dadde1;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
}

body {
  font-family: var(--primary-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
