.catalog-container {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.camper-list-wrapper {
  margin-bottom: 52px;
  width: 100%;
}

.campers-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.camper-item {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--light-gray-color);
}

.no-campers {
  color: var(--button-color);
}

.load-more-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid var(--light-gray-color);
  background: none;
  color: currentColor;
}
