.homepage-container {
  background-image:
    linear-gradient(rgb(0, 0, 0, 20%), rgb(0, 0, 0, 20%)),
    url('../../assets/images/home-background.png');
  padding-top: 256px;
  padding-bottom: 260px;
  color: var(--inputs-color);
}

.homepage-title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.67;
}
