.camper-item-image {
  border-radius: 10px;
  object-fit: cover;
  margin-right: 24px;
}

.camper-item-info {
  width: 486px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 12px;
}

.camper-item-description {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis */
  display: block; /* Ensure the element behaves as a block */
}

.show-more-button {
  margin-top: 0;
}

.camper-item-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.heart-icon {
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon-selected {
  fill: var(--button-color);
}
