.camper-feature-wrapper {
  border-radius: 100px;
  background: var(--badges-color);
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px 18px;
}

.camper-feature-description {
  color: var(--main-color);
}
